<h1> <%= @song.name %></h1>
<a href="/artists/<%= @artist.slug %>"><h2> Artist: <%= @artist.name %></h2></a>
<h2> <% @genre.each do |genre|%>
<a href="/genres/<%= genre.slug %>"><%= genre.name%></a>
  <% end %>
</h2>
